[access]
	inheritFrom = All-Projects
[receive]
	requireChangeId = true
[project]
	description = PacketCable
[access "refs/*"]
	owner = group ldap/gerrit-packetcable-committers
	read = group GitHub Replication
[allowSuperproject "releng/autorelease"]
	matching = refs/heads/stable/boron:refs/heads/stable/boron
